p{
  margin-top: 0;
  margin-bottom: 0;

}
body{
  font-family: roboto,Arial;
  background-color: white;
  margin: 0;
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 20px;
  color: black;
  overflow: hidden;
}
.snowfall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.snowflake {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  to {
    transform: translateY(100vh);
  }
}
